CONFIG_MTK_CONNSYS_DEDICATED_LOG_PATH=n
CONFIG_SUPPORT_DFS_OFFLOAD=n
CONFIG_SUPPORT_FW_IDX_LOG_TRANS=n
CONFIG_SUPPORT_HE_ER=y
CONFIG_SUPPORT_APFV6=y

ifeq ($(CONFIG_MTK_COMBO_WIFI_HIF), sdio)
CONFIG_CHIP_RESET_KO_SUPPORT=y
ccflags-y += -DCFG_SDIO_INTR_ENHANCE_FORMAT=2
ccflags-y += -DCFG_CHIP_RESET_USE_MSTAR_GPIO_API=0
#for CpuBoost, config platform
ifeq ($(CONFIG_MTK_COMBO_CHIP_CONSYS_8171), y)
    MTK_PLATFORM := mt8171
endif
endif

ifeq ($(CONFIG_GKI_SUPPORT), y)
ccflags-y += -DCFG_DC_USB_WOW_CALLBACK=0
endif

ifeq ($(CONFIG_DRM_MEDIATEK_V2), y)
ccflags-$(CONFIG_DRM_MEDIATEK_V2) += -I$(srctree)/drivers/gpu/drm/mediatek/mediatek_v2/
endif

ccflags-y += $(call cc-disable-warning, unused-but-set-variable)
PLATFORM_FLAGS += $(call cc-disable-warning, unused-but-set-variable)
ccflags-y += $(call cc-disable-warning, unused-function)
PLATFORM_FLAGS += $(call cc-disable-warning, unused-function)
ccflags-y += -DCFG_DEFAULT_DBG_LEVEL=0xF

ccflags-y += -DCFG_WIFI_CFG_FN='"wifi_mt7926.cfg"'
