$(info dev config)
CONFIG_CONNAC2_LISTMODE_ENABLE=n
# For SQC only
CONFIG_SUPPORT_SER_DEBUGFS=y
# For Auto only
CONFIG_CONNAC2_PROTECT_SEC_FWDL=y
# For Pwr table compatibility
CONFIG_MTK_WIFI_TXPWR_DAT_FN=y
# For SQC2.7
CONFIG_MTK_WIFI_SUPPORT_6G_PWR_REGS=y
CONFIG_SUPPORT_FW_LOG_TIMESYNC=y
CONFIG_PCIE_FW_OWN_BYPASS=y
ifeq ($(CONFIG_MTK_COMBO_WIFI_HIF), pcie)
CONFIG_SUPPORT_RX_NAPI=y
endif

#0: no mem shrink 1: low mem shrink 2: middle mem shrink 3: high mem shrink
#SQC2.7 use level 1
CONFIG_MEM_SHRINK_LEVEL=1

# NAN Advanced SQC
CONFIG_MTK_WIFI_NAN_SUPPORT_R4=y
CONFIG_MTK_WIFI_NAN_P2P_CONCURRENT_SUPPORT=y
